USE [master]
GO
/****** Object:  Database [VamosPalHuarique]    Script Date: 26/05/2015 7:23:05 ******/
CREATE DATABASE [VamosPalHuarique]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VamosPalHuarique', FILENAME = N'D:\SQL\MSSQL11.MSSQLSERVER\MSSQL\DATA\VamosPalHuarique.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VamosPalHuarique_log', FILENAME = N'D:\SQL\MSSQL11.MSSQLSERVER\MSSQL\DATA\VamosPalHuarique_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VamosPalHuarique].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VamosPalHuarique]
GO
/****** Object:  StoredProcedure [dbo].[USP_BUSCA_HUARIQUE]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_BUSCA_HUARIQUE]
AS
BEGIN
	SELECT NOMBRE,TIPO,RANGO,DISTRITO,DIRECCION,TELEFONO,HORARIO
	FROM TB_HUARIQUE
	WHERE ESTADO=1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_BUSCA_HUARIQUE_FILTRADO]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_BUSCA_HUARIQUE_FILTRADO]
@DISTRITO NVARCHAR(MAX),
@TIPO NVARCHAR(MAX)
AS
BEGIN
	SELECT NOMBRE,TIPO,RANGO,DISTRITO,DIRECCION,TELEFONO,HORARIO
	FROM TB_HUARIQUE
	WHERE 
	      ((@DISTRITO IS NULL) OR (DISTRITO=@DISTRITO)) AND
		  ((@TIPO IS NULL) OR (TIPO=@TIPO)) 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_BUSCA_HUARIQUE_POR_DISTRITO]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_BUSCA_HUARIQUE_POR_DISTRITO]
@DISTRITO NVARCHAR(MAX),
@TIPO NVARCHAR(MAX)
AS
BEGIN
	SELECT NOMBRE,TIPO,RANGO,DISTRITO,DIRECCION,TELEFONO,HORARIO
	FROM TB_HUARIQUE
	WHERE ((@DISTRITO IS NULL) OR DISTRITO=@DISTRITO) AND
		  ((@TIPO IS NULL) OR (TIPO=@TIPO)) 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INICIAR_SESION]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INICIAR_SESION]
@USUARIO VARCHAR(10),
@CLAVE VARCHAR(10)
AS
BEGIN
  SELECT USUARIO, CLAVE
  FROM TB_USUARIO
  WHERE ESTADO=1 AND USUARIO=@USUARIO AND CLAVE=@CLAVE
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTA_HUARIQUE]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERTA_HUARIQUE]
@NOMBRE VARCHAR(100),
@TIPO VARCHAR(100),
@RANGO DECIMAL(10,3),
@DISTRITO VARCHAR(100),
@DIRECCION VARCHAR(100),
@TELEFONO CHAR(9),
@HORARIO VARCHAR(30),
@FOTO IMAGE,
@ESTADO INT
AS
BEGIN
	INSERT INTO TB_HUARIQUE 
	VALUES (
	        @NOMBRE,
	        @TIPO,
			@RANGO,
			@DISTRITO,
			@DIRECCION,
			@TELEFONO,
			@HORARIO,
			@FOTO,
			@ESTADO
			)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_DISTRITOS]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LISTA_DISTRITOS]
AS
BEGIN
  SELECT DESCRIPCION 
  FROM TB_DISTRITO
  WHERE ESTADO=1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LISTA_TIPO_COMIDAS]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LISTA_TIPO_COMIDAS]
AS
BEGIN
   SELECT DESCRIPCION
   FROM TB_TIPO_COMIDA_HUARIQUE
   WHERE ESTADO=1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REGISTRAR_USUARIO]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_REGISTRAR_USUARIO]
@USUARIO VARCHAR(10),
@CLAVE VARCHAR(10),
@NOMBRE VARCHAR(100),
@FECREGISTRO DATE,
@ESTADO INT
AS
BEGIN
     INSERT INTO TB_USUARIO 
	 VALUES (@USUARIO,@CLAVE,@NOMBRE,@FECREGISTRO,@ESTADO)
END
GO
/****** Object:  Table [dbo].[TB_DISTRITO]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DISTRITO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__TB_DISTR__CC87E127A6CF13FA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_HUARIQUE]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_HUARIQUE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[TIPO] [varchar](50) NULL,
	[RANGO] [decimal](10, 3) NULL,
	[DISTRITO] [varchar](50) NULL,
	[DIRECCION] [varchar](100) NULL,
	[TELEFONO] [char](9) NULL,
	[HORARIO] [varchar](20) NULL,
	[FOTO] [image] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__TB_HUARI__CC87E1273E5736FA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TIPO_COMIDA_HUARIQUE]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TIPO_COMIDA_HUARIQUE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__TB_TIPO___CC87E1273831FF56] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 26/05/2015 7:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[USUARIO] [varchar](10) NOT NULL,
	[CLAVE] [varchar](10) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECNACIMIENTO] [date] NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_DISTRITO] ON 

INSERT [dbo].[TB_DISTRITO] ([CODIGO], [DESCRIPCION], [ESTADO]) VALUES (1, N'ANCON', 1)
INSERT [dbo].[TB_DISTRITO] ([CODIGO], [DESCRIPCION], [ESTADO]) VALUES (2, N'ATE', 1)
INSERT [dbo].[TB_DISTRITO] ([CODIGO], [DESCRIPCION], [ESTADO]) VALUES (3, N'ANCON', 1)
SET IDENTITY_INSERT [dbo].[TB_DISTRITO] OFF
SET IDENTITY_INSERT [dbo].[TB_HUARIQUE] ON 

INSERT [dbo].[TB_HUARIQUE] ([CODIGO], [NOMBRE], [DESCRIPCION], [TIPO], [RANGO], [DISTRITO], [DIRECCION], [TELEFONO], [HORARIO], [FOTO], [ESTADO]) VALUES (1, N'EL RINCON DEL CHATO', N'AQUI VA LA DESCRIPCION DEL LOCAL', N'PESCADOS Y MARISCOS', CAST(10.000 AS Decimal(10, 3)), N'LINCE', N'JR. JOSE GALVEZ 256', N'2345678  ', N'8:00 AM - 6:00 PM', NULL, 1)
INSERT [dbo].[TB_HUARIQUE] ([CODIGO], [NOMBRE], [DESCRIPCION], [TIPO], [RANGO], [DISTRITO], [DIRECCION], [TELEFONO], [HORARIO], [FOTO], [ESTADO]) VALUES (2, N'EL SOPERITO', N'AQUI VA LA DESCRIPCION DEL LOCAL', N'SOPAS', CAST(10.000 AS Decimal(10, 3)), N'LA VICTORIA', N'PROLONGACION IQUITOS CUADRA 13', N'         ', N'8:00 AM - 6:00 PM', NULL, 1)
INSERT [dbo].[TB_HUARIQUE] ([CODIGO], [NOMBRE], [DESCRIPCION], [TIPO], [RANGO], [DISTRITO], [DIRECCION], [TELEFONO], [HORARIO], [FOTO], [ESTADO]) VALUES (3, N'TIO MARIO', N'AQUI VA LA DESCRIPCION DEL LOCAL', N'ANTICUCHOS', CAST(15.000 AS Decimal(10, 3)), N'BARRANCO', N'JR. ZEPITA 214', N'         ', N'8:00 AM - 6:00 PM', NULL, 1)
SET IDENTITY_INSERT [dbo].[TB_HUARIQUE] OFF
SET IDENTITY_INSERT [dbo].[TB_TIPO_COMIDA_HUARIQUE] ON 

INSERT [dbo].[TB_TIPO_COMIDA_HUARIQUE] ([CODIGO], [DESCRIPCION], [ESTADO]) VALUES (1, N'PESCADOS Y MARISCOS', 1)
INSERT [dbo].[TB_TIPO_COMIDA_HUARIQUE] ([CODIGO], [DESCRIPCION], [ESTADO]) VALUES (2, N'COMIDA NORTEÑA', 1)
INSERT [dbo].[TB_TIPO_COMIDA_HUARIQUE] ([CODIGO], [DESCRIPCION], [ESTADO]) VALUES (3, N'COMIDA DE LA SELVA', 1)
SET IDENTITY_INSERT [dbo].[TB_TIPO_COMIDA_HUARIQUE] OFF
INSERT [dbo].[TB_USUARIO] ([USUARIO], [CLAVE], [NOMBRE], [FECNACIMIENTO], [ESTADO]) VALUES (N'AOCAMPO', N'123', N'ALEXANDER OCAMPO', CAST(0xFA390B00 AS Date), 1)
INSERT [dbo].[TB_USUARIO] ([USUARIO], [CLAVE], [NOMBRE], [FECNACIMIENTO], [ESTADO]) VALUES (N'APRETELL', N'123', N'ARIANNE PRETELL', CAST(0xFA390B00 AS Date), 1)
INSERT [dbo].[TB_USUARIO] ([USUARIO], [CLAVE], [NOMBRE], [FECNACIMIENTO], [ESTADO]) VALUES (N'MOREZZOLI', N'123', N'MARIO OREZZOLI', CAST(0xFA390B00 AS Date), 1)
USE [master]
GO
